<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>

	<!-- Bower dependencies -->
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">

	<!-- Cojure Script output files-->
	<script type="text/javascript" src="out/main.js"></script>

</head>
<body ng-app="musicMashup" ng-controller="mainController">
	<div class="well well-lg col-md-8 col-md-offset-2">
		<br/>
		<br/>
		<br/>
		<div class="row">
			<div class="container">
				<div class="jumbotron col-md-8">
					<h2>Welcome to my Music Mashup</h2>
					<p>...</p>
					<p><a class="btn btn-primary btn-lg" href="#" role="button">Look at the source</a></p>
				</div>
			</div>
		</div>
		<div class="row well well-sm">		
			<div>
				<div class="col-md-10">
					<input class="form-control" ng-model="artist" />
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary btn-block" ng-click="search()">Search</button>	
				</div>		

			</div>
		</div>
		<div class="row well well-sm">			
			<ul class="nav nav-pills nav-stacked">
				<artistcard artist="a" ng-repeat="a in artistData"></artistcard>
			</ul>
		</div>
		<div class="row well well-sm" ui-view></div>
	</div>
</body>
</html>